<div class="m-auto">
  <div class="card">
    <div class="card-header">
      Current balance
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Balance: $<span id="balanceTotal"></span></li>
        <li class="list-group-item">Completed Transactions: $<span id="balanceCompleted"></span></li>
        <li class="list-group-item">Transactions in process: $<span id="balanceStarted"></span></li>
        <li class="list-group-item">Last transaction: <span id="balanceLast"></span></li>
      </ul>
      <div>
        <buton id="balanceReload" class="btn btn-primary">Reload</button>
      </div>
    </div>
  </div>
</div>