<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 m-auto">
      <table class="table" id="historyTable">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>      
    </div>
  </div>
  <div class="modal" tabindex="-1" id="historyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Transaction details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item">ID: <span id="singleId"></span></li>
            <li class="list-group-item">Type: <span id="singleType"></span></li>
            <li class="list-group-item">Amount: $<span id="singleAmount"></span></li>
            <li class="list-group-item">Effective Date: <span id="singleDate"></span></li>
            <li class="list-group-item">State: <span id="singleState"></span></li>
          </ul>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>  
</div>